In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("countries of the world.csv", header=None, names = ["Bruce", "Ngobeni"])

In [9]:
df

               Bruce                              Ngobeni
0            Country                               Region
1       Afghanistan         ASIA (EX. NEAR EAST)
2           Albania   EASTERN EUROPE
3           Algeria   NORTHERN AFRICA
4    American Samoa   OCEANIA
..               ...                                  ...
223       West Bank   NEAR EAST
224  Western Sahara   NORTHERN AFRICA
225           Yemen   NEAR EAST
226          Zambia   SUB-SAHARAN AFRICA
227        Zimbabwe   SUB-SAHARAN AFRICA

[228 rows x 2 columns]

In [ ]:
df